## .NET / Visual Studio
*.user
*.suo
.vs/
bin/
obj/
*.db
*.db-shm
*.db-wal

# NuGet packages
packages/
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider
.idea/

# macOS
.DS_Store

# Publish output
publish/
